* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .landing-section {
    width: 100%;
    height: 100%;
    background: #0d1a30;
    padding-top: 10px;
  }
  
  a {
    text-decoration: none;
  }

  h1 {
    font-family: 'monospace'
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    padding-top: 30px !important;
  }
  
  .middle-section {
    width: 100%;
    padding: 73px 0px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .landing-text h1 {
    padding-top: 30px;
    font-size: 58px;
    text-align: center;
    margin-bottom: 5vh;
    color: #fafafa;
  }

  .or-text{
    margin: 7px 0px;
    font-size: 26px;
    color: #fafafa;
  }
  
  .landing-image {
    padding-top: 30px;
    max-width: 100%;
    height: auto;
  }
  
  .img {
    text-align: center;
    width: 50%;
  }

  .button {
    background-color: #f2572c; 
    color: #0d1a30;
    border: none;
    width: 50%;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .wave {
    width: 100%;
    background: #0d1a30;
    padding-top: 10px;
  }
  
  .about-image {
    width: 75%;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 28px;
  }
  
  .about-text {
    width: 50%;
    min-width: 310px;
    text-align: center;
    border: 2px dashed #0d1a30;
    border-radius: 8px;
    padding: 25px;
  }
  
  .about-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .about-header {
    font-size: 50px;
    margin: 15px 0px;
  }
  
  .about-subheader {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 0px 4px;
    color: #303fac;
  }
  
  p {
    margin-top: 5px;
    font-size: 20px;
  }
  
  .circle {
    background-color: #f7e947;
    font-size: 120%;
    padding: 15px;
    max-width: 85px;
    height: auto;
    width: 80%;
    position: relative;
    right: 48%;
    border-radius: 0 35px;
  }
  
  .hiring {
    padding: 45px 0px;
    margin: 60px 0px;
  }
  
  .section-header {
    font-size: 37px;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
  }
  
  .hiring-items {
    width: 82%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .hiring-image {
    max-width: 100%;
    height: auto;
  }
  
  .hiring-item {
    padding-top: 50px;
  }
  
  .hiring-info {
    padding: 15px 10px;
    background: #f7e947;
    position: relative;
    border-radius: 0 35px;
    border: 3px solid #303fac;
    width: 50%;
    left: 50%;
    top: 90%;
  }
  
  .info {
    text-align: center;
  }
  
  .offer-items {
    width: 92%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .offer-info {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  .wave-end {
    width: 100%;
    background: white;
  }